// Палитра цветов макета
$primaryColor: #fff;
$secondaryColor: #f5f4fa;
$primaryTextColor: #757575;
$secondaryTextColor: #212121;
$heroColor: #c4c4c4;
$accent: #2196f3;
$buttonColor: #188ce8;
$logoColor: #000;
$footerColor: #2f303a;
$footerContacts: rgba(255, 255, 255, 0.6);
$lineColor: #ececec;
$borderLine: #eee;
$linkColor: #afb1b8;
$productColor: rgba(33, 150, 243, 0.9);

// Наборы шрифтов
$primaryFontFamily: 'Roboto', sans-serif;
$primaryFontWight: 400;
$primaryFontSize: 14px;
